*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
}

div {
    width: 300px;
    border: 15px skyblue;
    padding: 50px;
    margin: 20px;
}

header{
    text-align: center;
    font-size: xxx-large;
    padding: 60px;
    background-image: url("images/clear-impact-state-government-background-header.jpg") ;
    background-position: center;
    background-size: cover;

}

footer{
    text-align: center;
    bottom: 0px;
    position: fixed;
    width: 100%;
    background-color: #212529;
}

body{
    background-color: lightskyblue;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
