*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
}

div {
    width: 300px;
    border: 15px skyblue;
    padding: 50px;
    margin: 20px;
}

header{
    text-align: center;
    font-size: xxx-large;
    padding: 60px;
    background-image: url("images/clear-impact-state-government-background-header.jpg") ;
    background-position: center;
    background-size: cover;
    color: white;
    text-shadow: black 2px 2px 4px;
}

footer{
    text-align: center;
    bottom: 0px;
    position: fixed;
    width: 100%;
    background-color: #212529;
}

body{
    background-color: ghostwhite;
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-align: center;
}

body2{
    font-size: 1rem;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    background: deepskyblue;
}
.btn-linkedin {
    background: #0E76A8;
    border-radius: 0;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #084461;
}
.btn-linkedin:link, .btn-linkedin:visited {
    color: #fff;
}
.btn-linkedin:active, .btn-linkedin:hover {
    background: #084461;
    color: #fff;
}
